html {
  background: #1b0038;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;

  h1 {
    color: #F8F8F2; 
    font-size: 28px; 
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    text-transform: none; 
    font-weight: 500; 
    letter-spacing: 0.5px; 
  }
}

.post-list {
  list-style-type: none;

  .title {
    color: #F8F8F2;
    margin-bottom: 0.5em;
    font-size: 24px;
  }

  .description {
    color: #E0E0E0;
    margin-top: 0.5em;
    font-size: 18px;
  }
}
