<!--
title: Abdelrahman Ghazaly
-->
<!doctype html>

<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>{{  title  }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/styles/home.css" rel="stylesheet">
</head>

<body>
  {{  components.navbar()  }}

  <div class="container">
    {% for page in pages.byTag("posts", sortBy="publishDate=desc") %}
    <a href="{{  page.data['url']  }}">
      <article>
        <h2>{{  page.data['title']  }}</h2>
        <p>{{  page.data['description']  }}</p>
      </article>
    </a>
    {% endfor %}
  </div>

  {{  components.footer()  }}
</body>
</html>
